/* ==================================================================
							 GENERAL
================================================================== */

@font-face {
	font-family: 'SFNSTextLight', sans-serif;
	src: local("./blog/SFNSText-Light"), url("https://chrissardegna.com/blog/SFNSText-Light.woff") format("woff");
}
@font-face {
	font-family: 'SFNSTextMed';
	src: local("./blog/SFNSText-Medium"), url("https://chrissardegna.com/blog/SFNSText-Medium.woff") format("woff");
}
html,body{
	
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'SFNSTextLight', sans-serif;
	align-items: center;
	justify-content: center;

}


h1{
	
	color: #1BBC9C;
	letter-spacing: 1.5px;
	font-size: 70px;
	font-weight: 100;
	font-family: 'SFNSTextLight', sans-serif;

}

h2{
	letter-spacing: 1px;
	color: white;
	font-size: 18px;
	font-family: 'SFNSTextLight', sans-serif;
	font-weight: 300;

}

h3{
	letter-spacing: 1.5px;
	color: white;
	font-size: 16px;
	font-family: 'SFNSTextLight', sans-serif;
	font-weight: 300;

}

p {
	letter-spacing: 1px;
	font-weight: 300;
	font-family: 'SFNSTextLight', sans-serif;
	font-size: 15px;
	color: white;

}

ul, ol {
	
	list-style-type: none;
	padding: 0;

}

a:active,a:hover,a:focus,:focus {
	outline: 0 none;
	text-decoration: none;
}
::selection {
	background: white; 
	color: #51435C;
}
::-moz-selection{
	background: white; 
	color: #51435C;
}
.row{
	margin: 0;
}
.padding{
	padding-top: 0px;
	padding-bottom: 0px;
}
.content{
	overflow: auto;
	position: absolute;
	height: 100%;
	width: 100%;
}

section .item{
	width: 80%;
	margin: 0 auto;
}

.main-wrapper{
	display: table;
	height: 100%;
	position: absolute;
	width: 100%;
	overflow: hidden;
}

/* ==================================================================
							CENTER
================================================================== */

.content section,.container-frame{
	display: table;
	height: 100%;
	width: 100%;
	position: absolute;
	table-layout: fixed;
}

.center{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* ==================================================================
							PRELOADER
================================================================== */

#background {
	background: #000000;
	bottom: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999999999999999;
}

.frame-loading{ 
	border: 2px solid;
	text-align: center;
	position: relative;
	top: 50%;
	font-size: 20px;
	color: #796d79;
	margin: 0 auto;
	padding: 20px;
	width: 100px;
	height: 100px;
	-webkit-border-image: -webkit-linear-gradient(135deg,#809fe1 -8%,#1fc39e 30%,#e3a1a1 90%);
	-moz-border-image: -moz-linear-gradient(135deg,#809fe1 -8%,#1fc39e 30%,#e3a1a1 90%) ;
	border-image: linear-gradient(135deg,#809fe1 -8%,#1fc39e 30%,#e3a1a1 90%);
	border-image-slice: 1;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

}

.no-borderimage .frame-loading{
	 
	border: none;
	border-top: 3px solid #21ea67;
	border-bottom: 3px solid #2bbccf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 3px 100%;
	-moz-background-size: 3px 100%;
	background-size: 3px 100%;
	background-image: -webkit-linear-gradient(top, #21ea67 0%, #21ea67 80%), -webkit-linear-gradient(to bottom, #809fe1 10%, #1fc39e 50%, #e3a1a1 100%);
	background-image: -moz-linear-gradient(top, #21ea67 0%, #21ea67 80%), -moz-linear-gradient(to bottom, #809fe1 10%, #1fc39e 50%, #e3a1a1 100%);
	background-image: -o-linear-gradient(top, #21ea67 0%, #21ea67 80%), -o-linear-gradient(to bottom, #809fe1 10%, #1fc39e 50%, #e3a1a1 100%);
	background-image: linear-gradient(to bottom, #21ea67 0%, #21ea67 80%), linear-gradient(to bottom, #809fe1 10%, #1fc39e 50%, #e3a1a1 100%);
}

.no-cssgradients .frame-loading{
	border: 3px solid #EA767B;
}

.spinner {
	border-radius: 100%;
	height: 45px;
	margin: 0 auto ;
	position: relative;
	top: 15%;
	width: 45px;
	-webkit-animation: rotating 0.8s linear infinite;
	-moz-animation: rotating 0.8s linear infinite;
	-ms-animation: rotating 0.8s linear infinite;
	-o-animation: rotating 0.8s linear infinite;
	animation: rotating 0.8s linear infinite;
}

.spinner::before {
	border-color: white transparent;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

@-webkit-keyframes rotating{
from {
	-webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
			transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		 -o-transform: rotate(360deg);
			transform: rotate(360deg);
}
}

@keyframes rotating {
from {
	-webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
			transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
	 -moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		 -o-transform: rotate(360deg);
			transform: rotate(360deg);
}
}


/* ==================================================================
							BACKGROUND
================================================================== */


.main-wrapper-background {
	
	bottom: 0;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -1;
	opacity: 0.3;
	background-image: url("https://images.unsplash.com/photo-1423200451430-d0f4965ad4b4?ixlib=rb-0.3.5&s=3b2f66dc28cda812109ca497a3687af1&auto=format&fit=crop&w=1400&q=80");
 -webkit-background-size: cover;
	-moz-background-size: cover;
		-o-background-size: cover;
		 background-size: cover;

}

.main-wrapper-overlay {
 
	background: black none repeat scroll 0 0;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -2;

}


/* ==================================================================
							MAIN-ITEM
================================================================== */


.main-item-background {
	
	opacity: 0.8;
	height: 100%;
	position: absolute;
	width:100%;
	z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
		-o-background-size: cover;
		 background-size: cover;

}

.main-item {
	background-color: rgba(0,0,0, 0.1); 
	position: relative;
	margin: 0 auto 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid rgba(255, 255, 255, 0.5);

}

.name {
	
	font-size: 40px;
	color: white;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	transform: rotate(-9deg); }
		name span {
			overflow: hidden;
			display: block;
			padding-right: 0; }
			name span em {
				display: block; }
			name span:nth-child(1) {
				color: #809fe1;
				height: 24px;}
			name span:nth-child(2) {
				color: #1fc39e;
				top: 25px;
				height: 9px;
				position: absolute;
				left: 0;
				right: 0; }
				name span:nth-child(2) em {
					margin-top: -25px; }
			name span:nth-child(3) {
				color: #DDAABB;
				top: 35px;
				height: 15px;
				position: absolute;
				left: 0;
				right: 0; }
				name span:nth-child(3) em {
					margin-top: -35px; }
			name a:hover span {
			transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2.5); }
			name a:hover span:nth-child(1) {
				transform: translateX(1vw); }
			name a:hover span:nth-child(3) {
				transform: translateX(-1vw); }


.profession {
 
	color: white;
	font-size: 35px;
	font-family: 'SFNSTextLight', sans-serif;
	font-weight: 300;
	letter-spacing: 2.5px;
	margin-top: 20px;
	text-align: center;
	font-style: oblique;
	transform: rotate(-9deg);
}


/* ==================================================================
							 MENU
================================================================== */


nav{
 
	height: 100%;
	overflow: auto;
	position: absolute;
	width: 100%;

}

.tabs li a {
 
	font-family: 'SFNSTextLight', sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 3px;
	text-align: center;
	width: 100%;
	color: white; 
	font-weight: 300;	
 -webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	 -ms-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		 transition: all 0.2s ease 0s;

}

.tabs li a:hover{
	color: #1bbd9d;
 -webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	 -ms-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		 transition: all 0.2s ease 0s;
}

.tabs li{
	margin: 20px;

}

.tabs i{
 
	font-size: 30px;

}

.main-item .ui-tabs-active a {
	color: #1bbd9d;

}

.navigation-menu {
	
	display: table;
	z-index: 99;
	
}

.navigation-menu a {
 
	color: #033B74;
	line-height: 1;
	text-decoration: none; 

}

.navigation-menu {
 
	width: 100%;
	height: 100%;
	text-align: center;
 -webkit-opacity: 0;
	-moz-opacity: 0;
		 opacity: 0;
	visibility: hidden;
	overflow: auto;
	position: absolute;
 -webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	 -ms-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		 transition: all 0.4s ease 0s;

}

.openmenu {
	visibility: visible;
	overflow: auto;
	position: absolute;
 -webkit-opacity: 1;
	-moz-opacity: 1;
		 opacity: 1;
 -webkit-transition: all 0.7s ease 0.4s;
	-moz-transition: all 0.7s ease 0.4s;
	 -ms-transition: all 0.7s ease 0.4s;
		-o-transition: all 0.7s ease 0.4s;
		 transition: all 0.7s ease 0.4s;

}


.navicon-button {

 -moz-user-select: none;
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 25px 16px;
	position: absolute;
	z-index: 999;
	right: 0;
	bottom: 0;

}

.navicon-button:hover .navicon,.navicon-button:hover .navicon:after {
 
	background: #1bbd9d;
 -webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	 -ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		 transition: all 0.3s ease 0s;

}

.navicon {
	
	background: white;
	width: 20px;
	height: 2px;
	position: relative;
 -webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	 -ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		 transition: all 0.3s ease 0s;

}

.navicon::after {
	background: white;
	width: 20px;
	z-index: -1;
	content: "";
	display: block;
	height:2px;
	position: absolute;
 -webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	 -ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		 transition: all 0.3s ease 0s;
 -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	 -ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		 transform: rotate(90deg);

}


/* ==================================================================
								ABOUT
================================================================== */


#about img {
	
	float: right;
	margin-top: 10px;

}

#about .owl-carousel .owl-item img{
	width: 200px;

}

#about p{
	
	margin-top: 40px;
	margin-bottom: 20px;

}

#about h2 , #about h3{
	
	margin-top: 30px;
 
}

.ion-ios-location{
	color: #E25D50;
	font-size: 30px;
	line-height: 2.5;
	cursor: pointer;

}


/* ==================================================================
							 EDUCATION
================================================================== */



#education h4{
	color: #1fc39e;
	font-family: 'SFNSTextLight', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 100;

}

#education p{
	margin-top: 15px;

}

#education .block-a{
	margin-top: 45px;
	margin-bottom: 45px;

}


/* ==================================================================
							 EXPERIENCE
================================================================== */


#experience h4{
	color: #1fc39e;
	font-family: 'SFNSTextLight', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 100;
	margin: 0;

}

#experience p{
	margin-top: 15px;

}

#experience .block-a{
	margin-bottom: 60px;

}

/* ==================================================================
							 SKILLS
================================================================== */


#skills h4{
	color: #1fc39e;
	font-family: 'SFNSTextLight', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 100;
	margin: 0;

}

#skills p{
	margin-top: 15px;

}

#skills .block-a{
	margin-bottom: 60px;

}

/* ==================================================================
							 BLOG
================================================================== */


#blog h4{
	color: #1fc39e;
	font-family: 'SFNSTextLight', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 100;
	margin: 0;

}

#blog p{
	margin-top: 15px;

}

#blog .block-a{
	margin-bottom: 60px;

}

#blog a{
	color: #ffffff;

}

/* ==================================================================
							 LABS
================================================================== */


#labs h4{
	color: #1fc39e;
	font-family: 'SFNSTextLight', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 100;
	margin: 0;

}

#labs p{
	margin-top: 13px;

}

#labs .block-a{
	margin-bottom: 60px;

}


/* ==================================================================
							PORTFOLIO
================================================================== */


.owl-portfolio {
	height: 100%;
	overflow: hidden;
	width: 100%;

}

.carousel-item {
	
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

}

.height {
	
	height: 370px;

}

.img {
	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;

}

.item .overlay { 
 
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
 -webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	 -ms-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		 transition: all 0.4s ease 0s;

}

.item:hover .overlay {
 
	background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
 -webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	 -ms-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		 transition: all 0.4s ease 0s;
}

.item .img i {
 
	font-size: 30px;
	line-height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	opacity: 0;
	position: absolute;
	top: 50%;
	width: 30px;
	z-index: 5;
	color: white;
	left: 50%;
 -webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	 -ms-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		 transition: all 0.4s ease 0s;

}

.item:hover .img i {
 
	font-size: 30px;
	color: white;
	line-height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	opacity: 1;
	position: absolute;
	top: 50%;
	width: 30px;
	z-index: 5;
	text-align: center;
	left: 50%;
 -webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	 -ms-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		 transition: all 0.4s ease 0s;

}

.customNavigation {
	
	margin-top: 5px;
	width: 100%;
	position: absolute;
	z-index: 5;
	padding-bottom: 15px;

}

.customNavigation a {
 
	color: #3D3838;
	cursor: pointer;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
 
}

.customNavigation i {
 
	color: white;
	margin: 12px;font-size: 18px; 
 -webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	 -ms-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		 transition: all 0.2s ease 0s;
}

.grabbing {
	
	cursor: url("../img/grabbing.png") 8 8, move;

}


/* ==================================================================
							SERVICES
================================================================== */


#services h2 {
	font-weight: 300;
	margin-top: 20px;
	color: #fdad98;

}

#services .icon i {
 
	color: white;
	font-size: 45px;
	line-height: 1;

}

#services p {
	margin-top: 20px ;

}


/* ==================================================================
							 CONTACT
================================================================== */


.form-control {
 
	background: none repeat scroll 0 0 transparent;
	border-color:white;
	border-radius: 0;
	border-style: none none solid;
	border-width: medium medium 1px;
	box-shadow: none;
	color: white;
	font-size: 16px;
	margin-top: 45px;
	padding: 0;
	font-weight: 300;

}

.form-control:focus {
 
	box-shadow: none;
	border-color: #1bbd9d;

}

.help-block {
	
	color: white;
	font-size: 14px;
	position: absolute;
	font-style: normal;
	font-weight: 300;

}

textarea.form-control {
	
	height: 55px;
	margin-top: 50px;
	resize: vertical;

}

.alert {
 
	border: medium none;
	margin-bottom: 20px;
	padding: 15px;

}

.alert-danger {
	background: rgba(0, 0, 0, 0);
	color: white;
	font-weight: 300;
	font-size: 15px;

}

.alert-success {
	
	background: rgba(0, 0, 0, 0);
	color: white;
	float: right;
	text-align: right;

}

.close {
	font-weight:normal;
	text-shadow:none;
	color: white;
	float: right;
	font-size: 25px;
	line-height: 0.85;
 -webkit-opacity: 1;
	-moz-opacity: 1;
		 opacity: 1;

}

.close:hover{
	color: white;

}

button[type="submit"] {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 300;
	outline: medium none;
	margin-top: 45px;
	margin: 0 auto ;
	 -webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	 -ms-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		 transition: all 0.2s ease 0s;

}

button[type="submit"]:hover{
	
	color: #1bbd9d;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	 -ms-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		 transition: all 0.2s ease 0s;

} 

#contact i{
	
	color: white;
	display: block;
	font-size: 35px;
	margin-top: 35px;

}

.form-control::-moz-placeholder {
 
	color: white;

}

.form-control::-webkit-input-placeholder {
	
	color: white;

}

.form-control:-moz-placeholder { 
 
	color: white;

}

.form-control:-ms-input-placeholder {
 
	color: white;

}


/* ==================================================================
							RESPONSIVE
================================================================== */


@media (max-width: 768px){
	.frame{
	
		display: none;

	}

	.main-item{
		
		margin: 0 !important;
		top: 14px;
		bottom: 14px;
		right:14px;
		left:14px;
		position:fixed !important;
		border: 0;
	}
	
	.main-wrapper-background {
	
	bottom: 0;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -1;
	opacity: 0.3;
	background-image: url("https://images.unsplash.com/photo-1423200451430-d0f4965ad4b4?ixlib=rb-0.3.5&s=3b2f66dc28cda812109ca497a3687af1&auto=format&w=768&h=1300&fit=crop&q=80");
 -webkit-background-size: cover;
	-moz-background-size: cover;
		-o-background-size: cover;
		 background-size: cover;

}
 
	.border{
	 
		position: fixed;
		top: 10px;
		bottom: 10px;
		right:10px;
		left:10px;
		background: rgba(25, 25, 25, 0.2);
		border: 4px solid white;
		border-image: linear-gradient(135deg, #809fe1 -8%,#1fc39e 30%,#e3a1a1 90%);
		border-image-slice: 1;
		animation: border 10s linear infinite;
	}

	.navicon-button {
		padding: 30px 15px;
		top: 0 !important;
		bottom: 100% !important;
		background: rgba(0, 6, 6, 0);
	}

	.navicon,.navicon::after {
	
		width: 28px;

	}

	.tabs li a{
		
		font-size: 18px;
	}

}


@media (min-width: 769px) {
 
	.main-item {
		
		height: 620px;
		width: 768px;
	}

	.col-menu{
		width: 234px;
		height: 364px;
		word-wrap: break-word;
		margin: 0 auto;
		overflow: hidden;

	}

	.col-home{
		width: 250px;
		height: 250px;
		word-wrap: break-word;
		margin: 0 auto;
		overflow: hidden;

	}

	.col-about{
		width: 546px;
		height: 494px;
		word-wrap: break-word;
		margin: 0 auto;
		overflow: hidden;

	}
	

	.col-education{
		width: 544px;
		height: 494px;
		word-wrap: break-word;
		margin: 0 auto;
		overflow: hidden;
	}

	.col-experience{
		width: 544px;
		height: 494px;
		word-wrap: break-word;
		margin: 0 auto;
		overflow: hidden;
	}

	.col-services{
		width: 544px;
		height: 494px;
		word-wrap: break-word;
		margin: 0 auto;
		overflow: hidden;
	}

	.col-portfolio{
		width: 594px;
		height: 494px;
		word-wrap: break-word;
		margin: 0 auto;
		overflow: hidden;
	}

	.col-contact{
		width: 450px;
		height: 380px;
		word-wrap: break-word;
		margin: 0 auto;
		overflow: hidden;
	}

	.scrll{
		position: relative;
	}

	.center-col {
 
		position: relative;
		top: 50%;
		width: 100%;
		float: left;
	 -webkit-transform: translateY(-50%);
		 -moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
			transform: translateY(-50%);
			 
	}
	
	.left-col {
 
		position: relative;
		top: 50%;
		width: 100%;
		float: left;
	 -webkit-transform: translateY(-25%);
		 -moz-transform: translateY(-25%);
		-ms-transform: translateY(-25%);
		 -o-transform: translateY(-25%);
			transform: translateY(-25%);
			 
	}
	
	.right-col {
 
		position: relative;
		top: 50%;
		width: 100%;
		float: left;
	 -webkit-transform: translateY(-75%);
		 -moz-transform: translateY(-75%);
		-ms-transform: translateY(-75%);
		 -o-transform: translateY(-75%);
			transform: translateY(-75%);
			 
	}

	.frame{
	
		border: 3px solid transparent;
		margin: 0 auto;
		width: 240px;
		word-wrap: break-word;
		height: 240px;
	 -webkit-border-image: -webkit-linear-gradient(135deg,#809fe1 -8%,#1fc39e 30%,#e3a1a1 90%);
		-moz-border-image: -moz-linear-gradient(135deg,#809fe1 -8%,#1fc39e 30%,#e3a1a1 90%);
			 border-image: linear-gradient(135deg,#809fe1 -8%,#1fc39e 30%,#e3a1a1 90%);
			 border-image-slice: 1;
	 -webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		 -ms-transition: all 0.5s;
			-o-transition: all 0.5s;
			 transition: all 0.5s;
	 -webkit-transform: translateZ(0);
	}

	.no-borderimage .frame{
	 
		border: none;
		border-top: 3px solid #FE8369;
		border-bottom: 3px solid #B0AED1;
	 -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			 box-sizing: border-box;
		background-position: 0 0, 100% 0;
		background-repeat: no-repeat;
	 -webkit-background-size: 3px 100%;
		-moz-background-size: 3px 100%;
			 background-size: 3px 100%;
		background-image: -webkit-linear-gradient(top, #FDBC80 0%, #DD828E 80%), -webkit-linear-gradient(to bottom, #809fe1 10%, #1fc39e 50%, #e3a1a1 100%);
		background-image: -moz-linear-gradient(top, #FDBC80 0%, #DD828E 80%), -moz-linear-gradient(to bottom, #809fe1 10%, #1fc39e 50%, #e3a1a1 100%);
		background-image: -o-linear-gradient(top, #FDBC80 0%, #DD828E 80%), -o-linear-gradient(to bottom, #809fe1 10%, #1fc39e 50%, #e3a1a1 100%);
		background-image: linear-gradient(to bottom, #FDBC80 0%, #DD828E 80%), linear-gradient(to bottom, #809fe1 10%, #1fc39e 50%, #e3a1a1 100%);
	}

	.no-cssgradients .frame {
		border: 3px solid #EA767B;
	}
	
	@keyframes border {
	0% {
		background-position: 0 0; }

	20% {
		background-position: 100% 0; }

	40% {
		background-position: 100% 100%; }

	60% {
		background-position: 0 100%; }

	100% {
		background-position: 0 0; } }

}