{ "extends": "airbnb-base", 
    "rules": 
    {
        "indent": ["error", 4],
        "func-names": 0,
        "camelcase": 0,
        "brace-style": [1, "allman"],
        "max-len": 0,
        "guard-for-in": 0,
        "no-restricted-syntax": 1
    }
  }