.borderColor, .ui-accordion-header, .ui-accordion-content, .minicolors-input, select.mainMenu
{
    border-color: #303030;
}
.btn.color3, .blockquote.s2, .ui-accordion-header-active, .arrow, .skill-title, .jspDrag, .show-grid [class*="span"], .show-grid [class*="port"]
{
    background-color: #303030;
}
div.blog-item-1
{
    background-color: rgba(0, 0, 0, 0.1);
}
.text-color, .ui-accordion-content, .btn.color1:hover, .btn.color1.active, .paging-2 a:hover, .btn3:hover, .btn.color2, .btn.color3, select.mainMenu, .show-grid [class*="span"], .show-grid [class*="port"]
{
    color: #FFF;
}
.paging-1 a, .paging-2 a, .btn.color1, .btn3, .pageNotFound a, .portfolioNavigation a, #TB_prev > a, #TB_next > a, .btn.color2:hover, .blockquote.s3
{
    background-color: #FFF !important;
}
::selection
{
    color: #FFF;
}
::-moz-selection
{
    color: #FFF;
}
.second-color, .btn.color2:hover, .blockquote.s3, ul.subMenu > li > a:hover
{
    color: #000;
}
#loading, #loadingFilter, .bx-controls-direction a, #divLoad
{
    background-color: #000 !important;
}
.page-title
{
    background-color: rgba(0, 0, 0, 0.1);
}
div.blog-item-1:hover, .slides-navigation a, .slide-text > div, .slide-text > h2, .logo, .logo2, ul.mainMenu > li, ul.socialLinks > li > div, .footer2, .copyText, .musicPlayer, .mask, .selectWrap, select.mainMenu
{
    background-color: rgba(0, 0, 0, 0.40);
}
.pageContent
{
    background-color: rgba(0, 0, 0, 0);
}

.third-color-bg, ul.mainMenu > li:hover, .skill-title > span, .btn.color1:hover, .btn.color1.active, .btn.color3:hover, .paging-1 a:hover, .paging-2 a:hover, .pageNotFound a:hover, input[type=text].error, textarea.error, .bx-controls-direction a:hover, .portfolioNavigation a:hover, #TB_prev > a:hover, #TB_next > a:hover, .btn.color2, .btn.color3:hover, span.success, span.response
{
    background-color: #BD2B5B !important;
}
.third-color, div.blog-item-1:hover > a > h3
{
    color: #BD2B5B !important;
}
::selection
{
    background-color: #BD2B5B !important;
}
::-moz-selection
{
    background-color: #BD2B5B !important;
}